{% extends 'templates.html' %}
{% block mian %}
     <div id="content">
     <div class="row contactus-list" style="align-content: center">
           <div class="col-lg-4 col-xs-4 animate-box" data-animate-effect="fadeInRight">
           </div>
        <div class="col-lg-5 col-xs-5 animate-box" data-animate-effect="fadeInRight">
          <form id="form1">
            <label>登陆</label>
            <input type="text" name="name" id="name" placeholder="账号" required="required">
            <input type="password" name="mobile" id="mobile" placeholder="密码" required="required">
              <span style="color: red" id="tip"></span>
            <input id="submit" type="submit" value="提交">
          </form>

        </div>
           <div class="col-lg-3 col-xs-3 animate-box" data-animate-effect="fadeInRight">
      </div>
     </div>
     </div>
      <script>
      function getreferrer() {
          if(document.referrer){
              return document.referrer
          }
          else {
              return false
          }

      }
    $('#form1').submit(function () {
        var username=$('#name').val()
        var paswd=$('#mobile').val()
        data={'name':username,'paswd':paswd}
        $.ajax({
            url:'/user_login/',
            data:data,
            dataType:'JSON',
            type:'POST',
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            success:function (arg) {
                if(arg.eercode==0){
                    window.location.href=getreferrer()

        }
        else {
                    $('#tip').text('账号密码错误')
                }

            }
        })
    return false
    })
    </script>
{% endblock %}